:root {
    font-family: "Meiryo";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #08c;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}

#game {
    display: block;
    margin: 0 auto;
}
